[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
crispy-bootstrap5 = "*"
django = "*"
django-crispy-forms = "*"
celery = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.13"
