[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
pillow = "*"
crispy-bootstrap5 = "*"
django = "*"
django-crispy-forms = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.13"
