.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.cover-pic {
    width: 220px;
    height: 300px;
}

.small-profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.posts-content{
    margin-top:20px;
}