{% load i18n %}{% autoescape off %}
Hello,

You're receiving this email because you requested a password reset for your Goodreads account.

Please go to the following page and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

If you didn't request this password reset, please ignore this email. Your password won't change until you access the link above and create a new one.

If you're having trouble clicking the link above, copy and paste it into your browser.

Best regards,
The Goodreads Team
{% endautoescape %}
